[project]
	description = My Sample Application Tutorial
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/reachravirajbhat
[access "refs/for/refs/*"]
	read = group user/reachravirajbhat
	push = group user/reachravirajbhat
	label-Code-Review = -2..+2 group user/reachravirajbhat
	label-Verified = -1..+1 group user/reachravirajbhat
	rebase = group user/reachravirajbhat
	removeReviewer = group user/reachravirajbhat
	submit = group user/reachravirajbhat
[access "refs/heads/*"]
	read = group user/reachravirajbhat
	create = group user/reachravirajbhat
	push = +force group user/reachravirajbhat
	pushMerge = group user/reachravirajbhat
[access "refs/tags/*"]
	push = group user/reachravirajbhat
	push = +force group user/reachravirajbhat
